/* base styling */
:root {
    --base-size: 1rem;
    --scale: 1.25;
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);

    /* colors */
    /* primary */
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    /* Neutral */

--white: hsl(0, 0%, 100%); 
--rose-white: hsl(330, 100%, 98%); 
--eggshell: hsl(30, 54%, 90%);
--light-grey: hsl(30, 18%, 87%); 
--wenge-brown: hsl(30, 10%, 34%);
--dark-charcoal: hsl(24, 5%, 18%);
    /* fonts */
    --sans-serif: "Outfit" , sans-serif;
    --serif: "Young Serif", serif;

    /* font weights */
    --w1: 700;
    --w2: 600;
    --w3: 400;

}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--sans-serif);
    font-weight: var(--w3);
    line-height: 1.75;
    background: var(--eggshell);
    color: var(--dark-charcoal);
    font-size: var(--base-size);
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1rem;
}

h1,
.h1 {
    font-size: var(--h1);
}

h2,
.h2 {
    font-size: var(--h2);
}

h3,
.h3 {
    font-size: var(--h3);
}

h4,
.h4 {
    font-size: var(--h4);
}

h5,
.h5 {
    font-size: var(--h5);
}

h6,
.h6 {
    font-size: var(--h6);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
}

main {
    margin-bottom: 4rem;
}
table {
    border-collapse: collapse;
}

figure {
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 0;
    padding: 0;
}

cite {
    font-style: normal;
    display: block;
    margin-top: -3px;
}

footer {
    margin-top: 5rem;
    text-transform: uppercase;
}

/* End of the BS */
#wrapper {
    margin: 0 auto;
    max-width: 375px;
    background-color: var(--white);
}
section {
    margin : 1rem;
}
h1 {
    font-family: var(--serif);
    font-weight: var(--w3);
}
.preparation {
    background-color: var(--rose-white);
    padding: 1rem;
    border-radius: 0.5rem;
}
.preparation h3 {
    padding-left: 1rem;
    color: var(--dark-raspberry);
    font-weight: var(--w2);
}
.preparation ul li::marker {
    color: var(--dark-raspberry);
}

h2 {
    color: var(--nutmeg);
    font-family: var(--serif);
}
li::marker {
    color: var(--nutmeg);
    font-weight: var(--w2);
}
ul li::marker {
    font-size: 0.8rem;
}
h1 , h2 {
    font-weight: var(--w3);
}
.bold {
    font-weight: var(--w2);
}
li p {
    padding-left: 1rem;
}
.nutrition , .instructions {
    border-top: 1px solid var(--light-grey);
}
.nutrition table {
    width: 50%;
    margin-left: 2rem;
}
.nutrition table tr {
    border-bottom: 1px solid var(--light-grey);
}
.nutrition table td {
    padding: 1rem;
}
.nutrition table td:last-child {
    font-weight: var(--w1);
    color: var(--nutmeg);
}
@media (min-width: 440px) {
    #wrapper {
        max-width: 440px;
        margin: 2rem auto;
        padding: 1rem;
    }
    #wrapper,
    img,
    .preparation {
        border-radius: 0.5rem;
    }
    .nutrition table {
        width: 65%;
    }
}
@media (min-width: 660px) {
    #wrapper {
            max-width: 600px;
            margin: 4rem auto;
            
        }
    #wrapper,
    img,
    .preparation {
        border-radius: 1rem;
    }
}
@media (min-width: 800px) {
    #wrapper {
            max-width: 700px;
            margin: 150px auto;
            padding: 2rem;
        }
}
@media (min-width: 1440px) {
    #wrapper {
        margin: 150px auto;
        max-width: 1000px;
        padding: 3rem;
    }
    #wrapper,
    img,
    .preparation {
        border-radius: 1rem;
    }
}
